/* style/style.css */

.map {
    border: 5px outset lightcoral;
    /* //position: fixed;//
    this doesn't work.
    - xe */
    left: 26%;

}

.slider{
    position: fixed;
    color: white;
    bottom: 10%;
    left: 47%;
    width: 30%;
}

.testtext{
    position: fixed;
    bottom: 1%;
    color: black;
    left: 1%;
}

.dateSel{
    position: fixed;
    bottom: 10%;
    left: 43%;
    text-align: center;
    border: 5px outset red;
    background: lightyellow;
}

.sadnesscheckbox{
    position: absolute;
    left: 10%;
    bottom: 3%;
}

.datacheckbox{
    position: absolute;
    right: 10%;
    bottom: 3%;
}

h1 {
    color: navajowhite;
    font-variant-caps: all-small-caps;
    font-size: 48px;
    text-align: center;
}

h3{
    color:black;
    font-size: 36px;
}

li{
    color: rgb(252, 166, 166);
    font-size: 50px;
}

body {
    background: rgb(200, 240, 240);
    text-align: center;
}
