/* style/style.css */

.map {
    border: 5px outset lightcoral;
    position: fixed;
    left: 26%;

}

.dateSel{
    position: fixed;
    bottom: 10%;
    left: 43%;
    text-align: center;
    border: 5px outset red;
    background: lightyellow;
}

h1 {
    color: navajowhite;
    font-variant-caps: all-small-caps;
    font-size: 48px;
    text-align: center;
}

h3{
    color:black;
    font-size: 36px;
}

li{
    color: rgb(252, 166, 166);
    font-size: 50px;
}

body {
    background: rgb(200, 240, 240);
    text-align: center;
}