/* style/style.css */

.map {
    border: 5px outset lightcoral;
    /* //position: fixed;//
    this doesn't work.
    - xe */
    margin-left: auto;
    margin-right: auto;

}

.slider{

    /* this isn't even a stylesheet anymore
        you just intentionally made a mediocre UI worse through your own mistakes until it couldn't handle it anymore
     - xe */
}

.testtext{
    position: fixed;
    bottom: 1%;
    color: black;
    left: 1%;
}

.dateSel{
    text-align: center;
    border: 5px outset red;
    background: lightyellow;
}

.sadnesscheckbox{
}

.datacheckbox{
    right: 10%;
    bottom: 3%;
}

h1 {
    color: navajowhite;
    font-variant-caps: all-small-caps;
    font-size: 48px;
    text-align: center;
}

h3{
    color:black;
    font-size: 36px;
}

li{
    color: rgb(252, 166, 166);
    font-size: 50px;
}

body {
    background: rgb(200, 240, 240);
    text-align: center;
}
