<!DOCTYPE html>
<html lang="en">
<head>
	<title>Group 10 COVID-19 Map</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
		<!-- Leaflet CSS File-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<link href="public/style/styles.css?version=3" rel="stylesheet">
		<!-- Leaflet JavaScript file -->
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

</head>
<body>
	<div class="map">
		<!-- div element with a certain id where you want your map to be -->
		<div id="mapid" style="height: 700px;"></div>
	</div>
<h1>{{ headline }}</h1>

<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>

<p>
	<input type="date" class="mapdate">
</p>

<div class="dateSel">
    <form action="{{ url_for('index') }}" method="post">
        <label for="Covid Search Date">Select a date to search from<br></label>
        <input type="date" id="date" name="date">
        <button>Submit</button>
    </form>
	<a href="{{ url_for('test_page',name='Group10') }}">Link to second page</a>
</div>
</body>
<script src = "public/display.js?version=66"> </script>
</html>
